.container-item {
    margin: 50px auto;
    padding: 20px;
    max-width: 1000px;
    justify-content: center;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
}