.container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

ul {
    display: flex;
    padding: 20px;
}

ul li {
    list-style: none;
    margin-left: 20px;
}

